In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('weight-height.csv')

In [3]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
dataset.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [5]:
dataset.info

<bound method DataFrame.info of       Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]>

In [6]:
y = dataset['Weight']

In [7]:
x = dataset['Height']

In [8]:
from keras.models import Sequential

In [9]:
from sklearn.model_selection  import train_test_split

In [10]:
x_train , x_test , y_train, y_test = train_test_split(x , y , random_state = 20)

In [11]:
model = Sequential()

In [12]:
from keras.layers import Dense

In [13]:
model.get_config()

{'name': 'sequential', 'layers': []}

In [14]:
model.add(
    Dense( units=1 ,
             activation="linear" ,
             kernel_initializer="zeros",
             bias_initializer="zeros",
              input_shape=(1,)
             )
)

In [15]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'units': 1,
    'activation': 'linear',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 2

=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.compile( loss = "mean_squared_error" , optimizer= "Adam")

In [18]:
model.get_weights()

[array([[0.]], dtype=float32), array([0.], dtype=float32)]

In [19]:
model.fit(x_train , y_train)

235/235 [==============================] - 1s 2ms/step - loss: 24604.3496

In [20]:
model.predict([73.847017])

array([[17.151323]], dtype=float32)

In [25]:
y_test

9957    144.070328
1687    203.999703
2116    175.683276
231     201.528177
2780    164.336269
           ...
8514     95.678872
5190    117.653785
6766    159.033590
347     180.175473
6961    123.991477
Name: Weight, Length: 2500, dtype: float64

In [26]:
model.predict(x_test)

array([[14.643682],
       [17.128805],
       [14.972068],
       ...,
       [15.854296],
       [16.130112],
       [14.583069]], dtype=float32)

In [21]:
model.save("first_keras.h5")

In [22]:
model.get_layer("dense").input

In [23]:
model.get_layer("dense").output