In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris() # The Iris dataset contains measurements of iris flowers from three different species: 
   # Iris setosa, Iris versicolor, and Iris virginica.

In [3]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [4]:
type(iris)

sklearn.utils._bunch.Bunch

In [5]:
iris.target #holds the class labels for each of the samples in the dataset 
# 0: Iris setosa , 1: Iris versicolor , 2: Iris virginica

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
iris.feature_names  # provides the names of the features (attributes) for the Iris dataset and = columns

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
iris.DESCR  # provides a detailed description of the Iris dataset

'.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'

In [8]:
iris.filename # provides the path of the file from which the dataset is loaded

'iris.csv'

In [9]:
iris.target_names  # provides the names of the target classes for the Iris dataset

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
df = iris.frame

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(data=iris.data , columns=iris.feature_names) # creating a DataFrame using iris data and 
# and specifying its feature_names as column names

In [13]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [14]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [15]:
# for CSV datasets used earlier the columns attribute considers the first row as columns bydefault. unless header=None is specified

In [16]:
# above all columns are the independent values (x) for which the target values ( species ) are dependent on. to ensure the 
# complete dataset with values of x and y in similar to all the datasets used before. we add a column to df with target values.

In [17]:
df['label'] = iris.target  # adding a colum to  dataset df  with values of iris.target and naming header as label

In [18]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label'],
      dtype='object')

In [19]:
# here the aim is to predict the lable or type of species for provided lengths,widths of sepal and petal.

In [20]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [21]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label'],
      dtype='object')

In [22]:
x = df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']] # or x = df[iris.feature_names]

In [23]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [24]:
y = df['label']

In [25]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: label, Length: 150, dtype: int32

In [26]:
type(x) , type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [27]:
y = pd.get_dummies(y)

In [28]:
y

         0      1      2
0     True  False  False
1     True  False  False
2     True  False  False
3     True  False  False
4     True  False  False
..     ...    ...    ...
145  False  False   True
146  False  False   True
147  False  False   True
148  False  False   True
149  False  False   True

[150 rows x 3 columns]

In [29]:
# to obtain in the form of 0 and 1 we use an attribute called "astype(int)"

In [30]:
y = pd.get_dummies(y).astype(int)

In [31]:
y

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

[150 rows x 3 columns]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train , x_test , y_train , y_test = train_test_split(x , y , random_state=20)

In [34]:
from keras.models import Sequential

In [35]:
from keras.layers import Dense

In [36]:
x.columns.shape

(4,)

In [37]:
model = Sequential(
 
[
    Dense (units = 32 , activation = 'relu' , input_shape = (4,) ),
    Dense (units = 16 , activation = 'relu' ),
    Dense (units = 8, activation = 'relu' ),
    Dense (units = 4 , activation = 'relu' ),
    Dense (units = 3 , activation = 'softmax') 
]
        )

# adding multiple layers at instant. Note: we cannot add multiple layers using model.add() function
# only either using Sequential([layers]) or var = [layers] and model=Sequential(var)

C:\Users\eshwar.l\AppData\Local\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [38]:
model.get_config()

{'name': 'sequential',
 'trainable': True,
 'dtype': {'module': 'keras',
  'class_name': 'DTypePolicy',
  'config': {'name': 'float32'},
  'registered_name': None},
 'layers': [{'module': 'keras.layers',
   'class_name': 'InputLayer',
   'config': {'batch_shape': (None, 4),
    'dtype': 'float32',
    'sparse': False,
    'name': 'input_layer'},
   'registered_name': None},
  {'module': 'keras.layers',
   'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'dtype': {'module': 'keras',
     'class_name': 'DTypePolicy',
     'config': {'name': 'float32'},
     'registered_name': None},
    'units': 32,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'module': 'keras.initializers',
     'class_name': 'GlorotUniform',
     'config': {'seed': None},
     'registered_name': None},
    'bias_initializer': {'module': 'keras.initializers',
     'class_name': 'Zeros',
     'config': {},
     'registered_name': None},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None},
   'registered_name': None,
   'build_config': {'input_shape': (None, 4)}},
  {'module': 'keras.layers',
   'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': {'module': 'keras',
     'class_name': 'DTypePolicy',
     'config': {'name': 'float32'},
     'registered_name': None},
    'units': 16,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'module': 'keras.initializers',
     'class_name': 'GlorotUniform',
     'config': {'seed': None},
     'registered_name': None},
    'bias_initializer': {'module': 'keras.initializers',
     'class_name': 'Zeros',
     'config': {},
     'registered_name': None},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None},
   'registered_name': None,
   'build_config': {'input_shape': (None, 32)}},
  {'module': 'keras.layers',
   'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': {'module': 'keras',
     'class_name': 'DTypePolicy',
     'config': {'name': 'float32'},
     'registered_name': None},
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'module': 'keras.initializers',
     'class_name': 'GlorotUniform',
     'config': {'seed': None},
     'registered_name': None},
    'bias_initializer': {'module': 'keras.initializers',
     'class_name': 'Zeros',
     'config': {},
     'registered_name': None},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None},
   'registered_name': None,
   'build_config': {'input_shape': (None, 16)}},
  {'module': 'keras.layers',
   'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': {'module': 'keras',
     'class_name': 'DTypePolicy',
     'config': {'name': 'float32'},
     'registered_name': None},
    'units': 4,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'module': 'keras.initializers',
     'class_name': 'GlorotUniform',
     'config': {'seed': None},
     'registered_name': None},
    'bias_initializer': {'module': 'keras.initializers',
     'class_name': 'Zeros',
     'config': {},
     'registered_name': None},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None},
   'registered_name': None,
   'build_config': {'input_shape': (None, 8)}},
  {'module': 'keras.layers',
   'class_name': 'Dense',
   'config': {'name': 'dense_4',
    'trainable': True,
    'dtype': {'module': 'keras',
     'class_name': 'DTypePolicy',
     'config': {'name': 'float32'},
     'registered_name': None},
    'units': 3,
    'activation': 'softmax',
    'use_bias': True,
    'kernel_initializer': {'module': 'keras.initializers',
     'class_name': 'GlorotUniform',
     'config': {'seed': None},
     'registered_name': None},
    'bias_initializer': {'module': 'keras.initializers',
     'class_name': 'Zeros',
     'config': {},
     'registered_name': None},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None},
   'registered_name': None,
   'build_config': {'input_shape': (None, 4)}}],
 'build_input_shape': (None, 4)}

In [39]:
model.compile(loss = "categorical_crossentropy" , optimizer = "adam" , metrics = ["Accuracy"])

In [42]:
model.fit(x_train , y_train , epochs = 80 , validation_split = 0.30 , batch_size = 30)

Epoch 1/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 1s 81ms/step - Accuracy: 0.1452 - loss: 1.0733 - val_Accuracy: 0.2059 - val_loss: 1.1412
Epoch 2/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - Accuracy: 0.3776 - loss: 1.0695 - val_Accuracy: 0.2059 - val_loss: 1.1024
Epoch 3/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.3526 - loss: 1.0323 - val_Accuracy: 0.2059 - val_loss: 1.0715
Epoch 4/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.3484 - loss: 1.0008 - val_Accuracy: 0.2059 - val_loss: 1.0466
Epoch 5/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.3567 - loss: 1.0011 - val_Accuracy: 0.2059 - val_loss: 1.0252
Epoch 6/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.3734 - loss: 0.9848 - val_Accuracy: 0.2059 - val_loss: 1.0109
Epoch 7/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.3776 - loss: 0.9545 - val_Accuracy: 0.2059 - val_loss: 0.9908
Epoch 8/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - Accuracy: 0.4115 - loss: 0.9442 - val_Accuracy: 0.5588 - val_loss: 0.9701
Epoch 9/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.5583 - loss: 0.9274 - val_Accuracy: 0.3824 - val_loss: 0.9531
Epoch 10/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.3311 - loss: 0.9160 - val_Accuracy: 0.3824 - val_loss: 0.9353
Epoch 11/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.3186 - loss: 0.9112 - val_Accuracy: 0.3824 - val_loss: 0.9201
Epoch 12/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.3186 - loss: 0.8894 - val_Accuracy: 0.3824 - val_loss: 0.9070
Epoch 13/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.3144 - loss: 0.8801 - val_Accuracy: 0.3824 - val_loss: 0.8938
Epoch 14/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.3186 - loss: 0.8814 - val_Accuracy: 0.3824 - val_loss: 0.8795
Epoch 15/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - Accuracy: 0.3458 - loss: 0.8482 - val_Accuracy: 0.5294 - val_loss: 0.8667
Epoch 16/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.4497 - loss: 0.8447 - val_Accuracy: 0.7353 - val_loss: 0.8538
Epoch 17/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.5657 - loss: 0.8438 - val_Accuracy: 0.7353 - val_loss: 0.8357
Epoch 18/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.6596 - loss: 0.8294 - val_Accuracy: 0.7941 - val_loss: 0.8156
Epoch 19/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.6263 - loss: 0.8153 - val_Accuracy: 0.7941 - val_loss: 0.8079
Epoch 20/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.6494 - loss: 0.8007 - val_Accuracy: 0.7941 - val_loss: 0.8027
Epoch 21/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.6285 - loss: 0.8173 - val_Accuracy: 0.7941 - val_loss: 0.8011
Epoch 22/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - Accuracy: 0.5827 - loss: 0.8184 - val_Accuracy: 0.7941 - val_loss: 0.8001
Epoch 23/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.6244 - loss: 0.7971 - val_Accuracy: 0.7941 - val_loss: 0.7967
Epoch 24/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - Accuracy: 0.5785 - loss: 0.7868 - val_Accuracy: 0.7941 - val_loss: 0.7946
Epoch 25/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.6410 - loss: 0.8115 - val_Accuracy: 0.7941 - val_loss: 0.7923
Epoch 26/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - Accuracy: 0.6369 - loss: 0.7746 - val_Accuracy: 0.7941 - val_loss: 0.7891
Epoch 27/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.6119 - loss: 0.7821 - val_Accuracy: 0.7941 - val_loss: 0.7879
Epoch 28/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - Accuracy: 0.6327 - loss: 0.7909 - val_Accuracy: 0.7941 - val_loss: 0.7867
Epoch 29/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.6577 - loss: 0.7837 - val_Accuracy: 0.7941 - val_loss: 0.7855
Epoch 30/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.6077 - loss: 0.7892 - val_Accuracy: 0.7941 - val_loss: 0.7862
Epoch 31/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.6119 - loss: 0.7812 - val_Accuracy: 0.7941 - val_loss: 0.7853
Epoch 32/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.6369 - loss: 0.7819 - val_Accuracy: 0.7941 - val_loss: 0.7832
Epoch 33/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.5891 - loss: 0.7906 - val_Accuracy: 0.7941 - val_loss: 0.7832
Epoch 34/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.6224 - loss: 0.7788 - val_Accuracy: 0.7941 - val_loss: 0.7807
Epoch 35/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - Accuracy: 0.6308 - loss: 0.7758 - val_Accuracy: 0.7941 - val_loss: 0.7769
Epoch 36/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.5849 - loss: 0.7763 - val_Accuracy: 0.7941 - val_loss: 0.7731
Epoch 37/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.6266 - loss: 0.7637 - val_Accuracy: 0.7941 - val_loss: 0.7691
Epoch 38/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - Accuracy: 0.6599 - loss: 0.7682 - val_Accuracy: 0.7941 - val_loss: 0.7662
Epoch 39/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - Accuracy: 0.6433 - loss: 0.7533 - val_Accuracy: 0.7941 - val_loss: 0.7653
Epoch 40/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.6391 - loss: 0.7681 - val_Accuracy: 0.8235 - val_loss: 0.7652
Epoch 41/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.6308 - loss: 0.7647 - val_Accuracy: 0.8235 - val_loss: 0.7651
Epoch 42/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - Accuracy: 0.6500 - loss: 0.7593 - val_Accuracy: 0.8529 - val_loss: 0.7643
Epoch 43/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.6772 - loss: 0.7573 - val_Accuracy: 0.8529 - val_loss: 0.7623
Epoch 44/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.7215 - loss: 0.7547 - val_Accuracy: 0.8235 - val_loss: 0.7563
Epoch 45/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - Accuracy: 0.6833 - loss: 0.7573 - val_Accuracy: 0.8235 - val_loss: 0.7504
Epoch 46/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - Accuracy: 0.6061 - loss: 0.7428 - val_Accuracy: 0.8235 - val_loss: 0.7468
Epoch 47/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - Accuracy: 0.6413 - loss: 0.7335 - val_Accuracy: 0.8235 - val_loss: 0.7413
Epoch 48/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.6311 - loss: 0.7418 - val_Accuracy: 0.8235 - val_loss: 0.7391
Epoch 49/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.6792 - loss: 0.7403 - val_Accuracy: 0.8529 - val_loss: 0.7376
Epoch 50/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.7487 - loss: 0.7382 - val_Accuracy: 0.8824 - val_loss: 0.7368
Epoch 51/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.7407 - loss: 0.7485 - val_Accuracy: 0.8824 - val_loss: 0.7354
Epoch 52/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - Accuracy: 0.7615 - loss: 0.7310 - val_Accuracy: 0.8529 - val_loss: 0.7273
Epoch 53/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.7590 - loss: 0.7421 - val_Accuracy: 0.8235 - val_loss: 0.7197
Epoch 54/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.6776 - loss: 0.7285 - val_Accuracy: 0.8529 - val_loss: 0.7171
Epoch 55/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.7131 - loss: 0.7176 - val_Accuracy: 0.8824 - val_loss: 0.7156
Epoch 56/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.7510 - loss: 0.7294 - val_Accuracy: 0.8824 - val_loss: 0.7168
Epoch 57/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - Accuracy: 0.7554 - loss: 0.7060 - val_Accuracy: 0.9118 - val_loss: 0.7133
Epoch 58/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.7679 - loss: 0.7035 - val_Accuracy: 0.8824 - val_loss: 0.7070
Epoch 59/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.7638 - loss: 0.7142 - val_Accuracy: 0.9118 - val_loss: 0.7042
Epoch 60/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.7513 - loss: 0.7046 - val_Accuracy: 0.8824 - val_loss: 0.6974
Epoch 61/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.7929 - loss: 0.6958 - val_Accuracy: 0.8824 - val_loss: 0.6936
Epoch 62/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.7955 - loss: 0.7081 - val_Accuracy: 0.9118 - val_loss: 0.6944
Epoch 63/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.8333 - loss: 0.6849 - val_Accuracy: 0.9412 - val_loss: 0.6908
Epoch 64/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.8545 - loss: 0.6764 - val_Accuracy: 0.9118 - val_loss: 0.6851
Epoch 65/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.8375 - loss: 0.6829 - val_Accuracy: 0.9118 - val_loss: 0.6798
Epoch 66/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.8147 - loss: 0.6914 - val_Accuracy: 0.9412 - val_loss: 0.6764
Epoch 67/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.8583 - loss: 0.6606 - val_Accuracy: 0.9118 - val_loss: 0.6674
Epoch 68/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.8231 - loss: 0.6803 - val_Accuracy: 0.9412 - val_loss: 0.6688
Epoch 69/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.8609 - loss: 0.6618 - val_Accuracy: 0.9412 - val_loss: 0.6657
Epoch 70/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.8798 - loss: 0.6409 - val_Accuracy: 0.9412 - val_loss: 0.6627
Epoch 71/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.9599 - loss: 0.6560 - val_Accuracy: 0.9412 - val_loss: 0.6609
Epoch 72/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - Accuracy: 0.9388 - loss: 0.6504 - val_Accuracy: 0.9412 - val_loss: 0.6505
Epoch 73/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.8734 - loss: 0.6302 - val_Accuracy: 0.9412 - val_loss: 0.6393
Epoch 74/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - Accuracy: 0.8420 - loss: 0.6617 - val_Accuracy: 0.9412 - val_loss: 0.6378
Epoch 75/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.8984 - loss: 0.6337 - val_Accuracy: 0.9412 - val_loss: 0.6321
Epoch 76/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.9240 - loss: 0.6327 - val_Accuracy: 0.9412 - val_loss: 0.6388
Epoch 77/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - Accuracy: 0.9641 - loss: 0.6115 - val_Accuracy: 0.9706 - val_loss: 0.6392
Epoch 78/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - Accuracy: 0.9641 - loss: 0.6175 - val_Accuracy: 0.9706 - val_loss: 0.6342
Epoch 79/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - Accuracy: 0.9535 - loss: 0.6098 - val_Accuracy: 0.9412 - val_loss: 0.6130
Epoch 80/80
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - Accuracy: 0.9029 - loss: 0.6246 - val_Accuracy: 0.9412 - val_loss: 0.6062

In [48]:
one = x_test[:1]

In [49]:
one

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
47                4.6               3.2                1.4               0.2

In [50]:
y1 = model.predict(one)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step

In [51]:
y1

array([[0.42470482, 0.3073036 , 0.2679916 ]], dtype=float32)

In [52]:
# considering above as [1 0 0 ] from the values

In [53]:
y_test[:1]

    0  1  2
47  1  0  0

In [54]:
y2 = model.predict(x_test[1:2])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

In [55]:
y2

array([[0.00383473, 0.54115874, 0.45500648]], dtype=float32)

In [56]:
# [ 0 1 0 ]

In [57]:
y_test[1:2]

    0  1  2
73  0  1  0