In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\ESHWAR\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [4]:
type(iris)

sklearn.utils.Bunch

In [5]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
iris.DESCR

'.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'

In [8]:
iris.filename

'C:\\Users\\ESHWAR\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'

In [9]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(data = iris.data  , columns=iris.feature_names )

In [12]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [13]:
df['label'] = iris.target

In [14]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label'],
      dtype='object')

In [15]:
x = df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)']]

In [16]:
y = df['label']

In [17]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: label, Length: 150, dtype: int32

In [18]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [19]:
type(x)

pandas.core.frame.DataFrame

In [20]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [21]:
y = pd.get_dummies(y)

In [22]:
y

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

[150 rows x 3 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train , x_test , y_train , y_test = train_test_split(x , y , random_state=20)

In [25]:
from keras import Sequential

In [26]:
from keras.layers import Dense

In [27]:
model = Sequential(
[
    Dense (units = 32 , activation = 'relu' , input_shape = (4,) ),
    Dense (units = 16 , activation = 'relu' ),
    Dense (units = 8, activation = 'relu' ),
    Dense (units = 4 , activation = 'relu' ),
    Dense (units = 3 , activation = 'softmax') 
])

In [28]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 4),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 4),
    'dtype': 'float32',
    'units': 32,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 16,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': 'float32',
    'units': 4,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_4',
    'trainable': True,
    'dtype': 'float32',
    'units': 3,
    'activation': 'softmax',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [29]:
model.compile(loss = "categorical_crossentropy" , optimizer = 'adam' , metrics = ['accuracy'])

In [30]:
model.fit(x_train , y_train , epochs = 80 , validation_split=0.30 , batch_size =  30)

Epoch 1/80
3/3 [==============================] - 2s 271ms/step - loss: 1.0986 - accuracy: 0.1154 - val_loss: 1.0979 - val_accuracy: 0.2059
Epoch 2/80
3/3 [==============================] - 0s 37ms/step - loss: 1.0968 - accuracy: 0.3718 - val_loss: 1.0956 - val_accuracy: 0.2059
Epoch 3/80
3/3 [==============================] - 0s 40ms/step - loss: 1.0932 - accuracy: 0.3718 - val_loss: 1.0990 - val_accuracy: 0.2059
Epoch 4/80
3/3 [==============================] - 0s 36ms/step - loss: 1.0922 - accuracy: 0.3718 - val_loss: 1.1003 - val_accuracy: 0.2059
Epoch 5/80
3/3 [==============================] - 0s 41ms/step - loss: 1.0916 - accuracy: 0.3718 - val_loss: 1.0989 - val_accuracy: 0.2059
Epoch 6/80
3/3 [==============================] - 0s 32ms/step - loss: 1.0904 - accuracy: 0.3718 - val_loss: 1.0971 - val_accuracy: 0.2059
Epoch 7/80
3/3 [==============================] - 0s 37ms/step - loss: 1.0891 - accuracy: 0.3718 - val_loss: 1.0948 - val_accuracy: 0.2059
Epoch 8/80
3/3 [==============================] - 0s 33ms/step - loss: 1.0884 - accuracy: 0.3718 - val_loss: 1.0938 - val_accuracy: 0.2059
Epoch 9/80
3/3 [==============================] - 0s 34ms/step - loss: 1.0876 - accuracy: 0.3718 - val_loss: 1.0940 - val_accuracy: 0.2059
Epoch 10/80
3/3 [==============================] - 0s 37ms/step - loss: 1.0864 - accuracy: 0.3718 - val_loss: 1.0943 - val_accuracy: 0.2059
Epoch 11/80
3/3 [==============================] - 0s 37ms/step - loss: 1.0854 - accuracy: 0.3718 - val_loss: 1.0922 - val_accuracy: 0.2059
Epoch 12/80
3/3 [==============================] - 0s 38ms/step - loss: 1.0804 - accuracy: 0.3718 - val_loss: 1.0945 - val_accuracy: 0.2059
Epoch 13/80
3/3 [==============================] - 0s 36ms/step - loss: 1.0784 - accuracy: 0.3718 - val_loss: 1.0926 - val_accuracy: 0.2059
Epoch 14/80
3/3 [==============================] - 0s 42ms/step - loss: 1.0760 - accuracy: 0.3718 - val_loss: 1.0867 - val_accuracy: 0.2059
Epoch 15/80
3/3 [==============================] - 0s 38ms/step - loss: 1.0743 - accuracy: 0.3718 - val_loss: 1.0860 - val_accuracy: 0.2059
Epoch 16/80
3/3 [==============================] - 0s 39ms/step - loss: 1.0716 - accuracy: 0.3718 - val_loss: 1.0871 - val_accuracy: 0.2059
Epoch 17/80
3/3 [==============================] - 0s 38ms/step - loss: 1.0704 - accuracy: 0.3718 - val_loss: 1.0860 - val_accuracy: 0.2059
Epoch 18/80
3/3 [==============================] - 0s 36ms/step - loss: 1.0677 - accuracy: 0.3718 - val_loss: 1.0815 - val_accuracy: 0.2059
Epoch 19/80
3/3 [==============================] - 0s 41ms/step - loss: 1.0668 - accuracy: 0.3718 - val_loss: 1.0804 - val_accuracy: 0.2059
Epoch 20/80
3/3 [==============================] - 0s 42ms/step - loss: 1.0646 - accuracy: 0.3718 - val_loss: 1.0813 - val_accuracy: 0.2059
Epoch 21/80
3/3 [==============================] - 0s 39ms/step - loss: 1.0617 - accuracy: 0.3718 - val_loss: 1.0793 - val_accuracy: 0.2059
Epoch 22/80
3/3 [==============================] - 0s 43ms/step - loss: 1.0595 - accuracy: 0.3718 - val_loss: 1.0775 - val_accuracy: 0.2059
Epoch 23/80
3/3 [==============================] - 0s 42ms/step - loss: 1.0578 - accuracy: 0.3974 - val_loss: 1.0757 - val_accuracy: 0.3529
Epoch 24/80
3/3 [==============================] - 0s 29ms/step - loss: 1.0549 - accuracy: 0.4872 - val_loss: 1.0781 - val_accuracy: 0.2647
Epoch 25/80
3/3 [==============================] - 0s 38ms/step - loss: 1.0540 - accuracy: 0.4103 - val_loss: 1.0766 - val_accuracy: 0.2647
Epoch 26/80
3/3 [==============================] - 0s 33ms/step - loss: 1.0505 - accuracy: 0.4615 - val_loss: 1.0700 - val_accuracy: 0.3824
Epoch 27/80
3/3 [==============================] - 0s 29ms/step - loss: 1.0486 - accuracy: 0.5385 - val_loss: 1.0678 - val_accuracy: 0.4412
Epoch 28/80
3/3 [==============================] - 0s 33ms/step - loss: 1.0463 - accuracy: 0.5385 - val_loss: 1.0673 - val_accuracy: 0.3529
Epoch 29/80
3/3 [==============================] - 0s 35ms/step - loss: 1.0429 - accuracy: 0.5256 - val_loss: 1.0707 - val_accuracy: 0.2647
Epoch 30/80
3/3 [==============================] - 0s 32ms/step - loss: 1.0414 - accuracy: 0.4359 - val_loss: 1.0681 - val_accuracy: 0.3235
Epoch 31/80
3/3 [==============================] - 0s 41ms/step - loss: 1.0384 - accuracy: 0.5000 - val_loss: 1.0620 - val_accuracy: 0.3529
Epoch 32/80
3/3 [==============================] - 0s 29ms/step - loss: 1.0353 - accuracy: 0.5385 - val_loss: 1.0585 - val_accuracy: 0.4412
Epoch 33/80
3/3 [==============================] - 0s 33ms/step - loss: 1.0324 - accuracy: 0.5385 - val_loss: 1.0600 - val_accuracy: 0.3529
Epoch 34/80
3/3 [==============================] - 0s 35ms/step - loss: 1.0294 - accuracy: 0.5128 - val_loss: 1.0587 - val_accuracy: 0.3529
Epoch 35/80
3/3 [==============================] - 0s 41ms/step - loss: 1.0274 - accuracy: 0.5000 - val_loss: 1.0544 - val_accuracy: 0.3529
Epoch 36/80
3/3 [==============================] - 0s 34ms/step - loss: 1.0236 - accuracy: 0.5513 - val_loss: 1.0483 - val_accuracy: 0.4706
Epoch 37/80
3/3 [==============================] - 0s 30ms/step - loss: 1.0226 - accuracy: 0.5513 - val_loss: 1.0469 - val_accuracy: 0.4412
Epoch 38/80
3/3 [==============================] - 0s 33ms/step - loss: 1.0189 - accuracy: 0.5641 - val_loss: 1.0438 - val_accuracy: 0.4412
Epoch 39/80
3/3 [==============================] - 0s 31ms/step - loss: 1.0159 - accuracy: 0.5385 - val_loss: 1.0478 - val_accuracy: 0.3529
Epoch 40/80
3/3 [==============================] - 0s 32ms/step - loss: 1.0123 - accuracy: 0.5128 - val_loss: 1.0423 - val_accuracy: 0.4412
Epoch 41/80
3/3 [==============================] - 0s 27ms/step - loss: 1.0085 - accuracy: 0.5513 - val_loss: 1.0370 - val_accuracy: 0.4412
Epoch 42/80
3/3 [==============================] - 0s 23ms/step - loss: 1.0080 - accuracy: 0.5769 - val_loss: 1.0327 - val_accuracy: 0.4706
Epoch 43/80
3/3 [==============================] - 0s 29ms/step - loss: 1.0028 - accuracy: 0.5641 - val_loss: 1.0348 - val_accuracy: 0.4412
Epoch 44/80
3/3 [==============================] - 0s 30ms/step - loss: 1.0006 - accuracy: 0.5385 - val_loss: 1.0382 - val_accuracy: 0.3529
Epoch 45/80
3/3 [==============================] - 0s 33ms/step - loss: 0.9983 - accuracy: 0.5385 - val_loss: 1.0278 - val_accuracy: 0.4412
Epoch 46/80
3/3 [==============================] - 0s 29ms/step - loss: 0.9930 - accuracy: 0.5513 - val_loss: 1.0243 - val_accuracy: 0.4706
Epoch 47/80
3/3 [==============================] - 0s 31ms/step - loss: 0.9902 - accuracy: 0.5641 - val_loss: 1.0216 - val_accuracy: 0.4706
Epoch 48/80
3/3 [==============================] - 0s 34ms/step - loss: 0.9872 - accuracy: 0.5513 - val_loss: 1.0211 - val_accuracy: 0.4412
Epoch 49/80
3/3 [==============================] - 0s 33ms/step - loss: 0.9835 - accuracy: 0.5513 - val_loss: 1.0164 - val_accuracy: 0.4706
Epoch 50/80
3/3 [==============================] - 0s 33ms/step - loss: 0.9810 - accuracy: 0.5513 - val_loss: 1.0142 - val_accuracy: 0.4706
Epoch 51/80
3/3 [==============================] - 0s 30ms/step - loss: 0.9770 - accuracy: 0.5897 - val_loss: 1.0106 - val_accuracy: 0.4706
Epoch 52/80
3/3 [==============================] - 0s 33ms/step - loss: 0.9740 - accuracy: 0.5641 - val_loss: 1.0092 - val_accuracy: 0.4706
Epoch 53/80
3/3 [==============================] - 0s 31ms/step - loss: 0.9702 - accuracy: 0.5769 - val_loss: 1.0054 - val_accuracy: 0.4706
Epoch 54/80
3/3 [==============================] - 0s 27ms/step - loss: 0.9668 - accuracy: 0.6026 - val_loss: 1.0021 - val_accuracy: 0.4706
Epoch 55/80
3/3 [==============================] - 0s 32ms/step - loss: 0.9632 - accuracy: 0.6026 - val_loss: 0.9977 - val_accuracy: 0.4412
Epoch 56/80
3/3 [==============================] - 0s 27ms/step - loss: 0.9596 - accuracy: 0.6154 - val_loss: 0.9934 - val_accuracy: 0.4706
Epoch 57/80
3/3 [==============================] - 0s 29ms/step - loss: 0.9565 - accuracy: 0.6282 - val_loss: 0.9910 - val_accuracy: 0.4706
Epoch 58/80
3/3 [==============================] - 0s 28ms/step - loss: 0.9564 - accuracy: 0.6026 - val_loss: 0.9921 - val_accuracy: 0.4706
Epoch 59/80

3/3 [==============================] - 0s 33ms/step - loss: 0.9525 - accuracy: 0.6026 - val_loss: 0.9837 - val_accuracy: 0.4706
Epoch 60/80
3/3 [==============================] - 0s 30ms/step - loss: 0.9461 - accuracy: 0.6154 - val_loss: 0.9819 - val_accuracy: 0.4706
Epoch 61/80
3/3 [==============================] - 0s 32ms/step - loss: 0.9436 - accuracy: 0.6154 - val_loss: 0.9819 - val_accuracy: 0.4706
Epoch 62/80
3/3 [==============================] - 0s 30ms/step - loss: 0.9398 - accuracy: 0.6154 - val_loss: 0.9754 - val_accuracy: 0.4706
Epoch 63/80
3/3 [==============================] - 0s 34ms/step - loss: 0.9354 - accuracy: 0.6154 - val_loss: 0.9733 - val_accuracy: 0.4706
Epoch 64/80
3/3 [==============================] - 0s 36ms/step - loss: 0.9327 - accuracy: 0.6154 - val_loss: 0.9696 - val_accuracy: 0.4706
Epoch 65/80
3/3 [==============================] - 0s 29ms/step - loss: 0.9286 - accuracy: 0.6154 - val_loss: 0.9698 - val_accuracy: 0.5000
Epoch 66/80
3/3 [==============================] - 0s 30ms/step - loss: 0.9258 - accuracy: 0.6154 - val_loss: 0.9638 - val_accuracy: 0.4706
Epoch 67/80
3/3 [==============================] - 0s 25ms/step - loss: 0.9226 - accuracy: 0.6154 - val_loss: 0.9579 - val_accuracy: 0.4706
Epoch 68/80
3/3 [==============================] - 0s 29ms/step - loss: 0.9205 - accuracy: 0.6282 - val_loss: 0.9511 - val_accuracy: 0.4706
Epoch 69/80
3/3 [==============================] - 0s 28ms/step - loss: 0.9192 - accuracy: 0.6538 - val_loss: 0.9494 - val_accuracy: 0.4706
Epoch 70/80
3/3 [==============================] - 0s 29ms/step - loss: 0.9126 - accuracy: 0.6154 - val_loss: 0.9585 - val_accuracy: 0.4706
Epoch 71/80
3/3 [==============================] - 0s 34ms/step - loss: 0.9147 - accuracy: 0.5769 - val_loss: 0.9605 - val_accuracy: 0.4706
Epoch 72/80
3/3 [==============================] - 0s 30ms/step - loss: 0.9093 - accuracy: 0.6026 - val_loss: 0.9473 - val_accuracy: 0.4706
Epoch 73/80
3/3 [==============================] - 0s 25ms/step - loss: 0.9029 - accuracy: 0.6154 - val_loss: 0.9388 - val_accuracy: 0.4706
Epoch 74/80
3/3 [==============================] - 0s 28ms/step - loss: 0.9052 - accuracy: 0.6410 - val_loss: 0.9267 - val_accuracy: 0.5588
Epoch 75/80
3/3 [==============================] - 0s 27ms/step - loss: 0.9003 - accuracy: 0.6667 - val_loss: 0.9248 - val_accuracy: 0.4706
Epoch 76/80
3/3 [==============================] - 0s 33ms/step - loss: 0.8929 - accuracy: 0.6410 - val_loss: 0.9308 - val_accuracy: 0.4706
Epoch 77/80
3/3 [==============================] - 0s 31ms/step - loss: 0.8877 - accuracy: 0.6154 - val_loss: 0.9291 - val_accuracy: 0.4706
Epoch 78/80
3/3 [==============================] - 0s 32ms/step - loss: 0.8830 - accuracy: 0.6154 - val_loss: 0.9142 - val_accuracy: 0.4706
Epoch 79/80
3/3 [==============================] - 0s 30ms/step - loss: 0.8721 - accuracy: 0.6282 - val_loss: 0.8971 - val_accuracy: 0.4706
Epoch 80/80
3/3 [==============================] - 0s 32ms/step - loss: 0.8625 - accuracy: 0.6410 - val_loss: 0.8727 - val_accuracy: 0.5588

In [46]:
x_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
51                 6.4               3.2                4.5               1.5
130                7.4               2.8                6.1               1.9
55                 5.7               2.8                4.5               1.3
134                6.1               2.6                5.6               1.4
37                 4.9               3.6                1.4               0.1
..                 ...               ...                ...               ...
22                 4.6               3.6                1.0               0.2
75                 6.6               3.0                4.4               1.4
137                6.4               3.1                5.5               1.8
15                 5.7               4.4                1.5               0.4
99                 5.7               2.8                4.1               1.3

[112 rows x 4 columns]

In [43]:
y_predict = model.predict(x_test)

In [36]:
from sklearn.metrics import confusion_matrix

In [47]:
y_train

     0  1  2
51   0  1  0
130  0  0  1
55   0  1  0
134  0  0  1
37   1  0  0
..  .. .. ..
22   1  0  0
75   0  1  0
137  0  0  1
15   1  0  0
99   0  1  0

[112 rows x 3 columns]

In [48]:
x_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
47                 4.6               3.2                1.4               0.2
73                 6.1               2.8                4.7               1.2
74                 6.4               2.9                4.3               1.3
129                7.2               3.0                5.8               1.6
67                 5.8               2.7                4.1               1.0
89                 5.5               2.5                4.0               1.3
143                6.8               3.2                5.9               2.3
21                 5.1               3.7                1.5               0.4
108                6.7               2.5                5.8               1.8
12                 4.8               3.0                1.4               0.1
147                6.5               3.0                5.2               2.0
76                 6.8               2.8                4.8               1.4
119                6.0               2.2                5.0               1.5
35                 5.0               3.2                1.2               0.2
28                 5.2               3.4                1.4               0.2
122                7.7               2.8                6.7               2.0
13                 4.3               3.0                1.1               0.1
58                 6.6               2.9                4.6               1.3
114                5.8               2.8                5.1               2.4
57                 4.9               2.4                3.3               1.0
50                 7.0               3.2                4.7               1.4
149                5.9               3.0                5.1               1.8
111                6.4               2.7                5.3               1.9
20                 5.4               3.4                1.7               0.2
72                 6.3               2.5                4.9               1.5
81                 5.5               2.4                3.7               1.0
98                 5.1               2.5                3.0               1.1
34                 4.9               3.1                1.5               0.2
104                6.5               3.0                5.8               2.2
133                6.3               2.8                5.1               1.5
95                 5.7               3.0                4.2               1.2
88                 5.6               3.0                4.1               1.3
0                  5.1               3.5                1.4               0.2
46                 5.1               3.8                1.6               0.2
11                 4.8               3.4                1.6               0.2
106                4.9               2.5                4.5               1.7
85                 6.0               3.4                4.5               1.6
1                  4.9               3.0                1.4               0.2

In [49]:
y_test

     0  1  2
47   1  0  0
73   0  1  0
74   0  1  0
129  0  0  1
67   0  1  0
89   0  1  0
143  0  0  1
21   1  0  0
108  0  0  1
12   1  0  0
147  0  0  1
76   0  1  0
119  0  0  1
35   1  0  0
28   1  0  0
122  0  0  1
13   1  0  0
58   0  1  0
114  0  0  1
57   0  1  0
50   0  1  0
149  0  0  1
111  0  0  1
20   1  0  0
72   0  1  0
81   0  1  0
98   0  1  0
34   1  0  0
104  0  0  1
133  0  0  1
95   0  1  0
88   0  1  0
0    1  0  0
46   1  0  0
11   1  0  0
106  0  0  1
85   0  1  0
1    1  0  0

In [41]:
y_predict

array([[0.39629158, 0.51953864, 0.08416981],
       [0.37981892, 0.44719595, 0.17298508],
       [0.39629352, 0.5195739 , 0.08413261],
       [0.33085102, 0.3480801 , 0.32106888],
       [0.39585266, 0.5134487 , 0.09069861],
       [0.38120985, 0.45099738, 0.1677928 ],
       [0.28412342, 0.2675125 , 0.44836405],
       [0.39654645, 0.52748424, 0.07596928],
       [0.2873014 , 0.2739627 , 0.43873587],
       [0.39651772, 0.5255103 , 0.07797196],
       [0.29333857, 0.2868243 , 0.4198371 ],
       [0.39050394, 0.48169082, 0.12780526],
       [0.29494533, 0.29039696, 0.41465774],
       [0.39654234, 0.52706885, 0.07638876],
       [0.39651856, 0.5322579 , 0.07122348],
       [0.28372696, 0.26672193, 0.44955114],
       [0.39580554, 0.5129268 , 0.09126767],
       [0.39471477, 0.50355345, 0.10173177],
       [0.28261554, 0.2644963 , 0.45288825],
       [0.39524576, 0.5076334 , 0.09712088],
       [0.39655155, 0.5283025 , 0.07514595],
       [0.2909055 , 0.28153855, 0.42755598],
       [0.29078642, 0.28128353, 0.4279301 ],
       [0.39629093, 0.53810555, 0.06560361],
       [0.34391725, 0.37241957, 0.28366312],
       [0.3960314 , 0.51560336, 0.08836532],
       [0.3965073 , 0.5250335 , 0.07845922],
       [0.39653745, 0.52667147, 0.07679112],
       [0.28304765, 0.26537442, 0.4515779 ],
       [0.33391684, 0.35354185, 0.3125413 ],
       [0.3911837 , 0.48457462, 0.12424165],
       [0.38889506, 0.47538546, 0.13571951],
       [0.39654732, 0.5302491 , 0.07320367],
       [0.3965347 , 0.5313404 , 0.07212478],
       [0.39650577, 0.5249687 , 0.07852554],
       [0.28851894, 0.27648976, 0.43499124],
       [0.3789231 , 0.44481498, 0.17626195],
       [0.39653534, 0.52651995, 0.07694472]], dtype=float32)

In [44]:
confusion_matrix(y_test , y_predict)

ValueError: Classification metrics can't handle a mix of multilabel-indicator and continuous-multioutput targets